.filters{
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}
.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
}
.filters button:hover{
    opacity: 0.9;
}
.locations{
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    float: left;
}
.locations h3{
    font-weight: 600;
    margin: 15px 0px 0px 50px;
}
.locations h4{
    font-weight: 400;
    font-size: 14px;
    margin: 7px 0px 0px 50px;
}
.amenities{
    height: 100%;
    width: 25%;
    float: left;
}
.amenities h3{
    font-weight: 600;
    margin: 15px 0px 0px 50px;
}
.amenities h4{
    font-weight: 400;
    font-size: 14px;
    margin: 7px 0px 0px 50px;
}
